<% for (const groupname in lessonStore) { %>
    <% if(groupname === "nogroup") continue %>
    <p><%= groupname %></p>
    <ul>
    <% lessonStore[groupname].forEach(lesson=>{ %>
        <li>
            <a class="lesson" href=<%= `/lessons/${lesson.id}?lessonname=${lesson.name}` %>><%= lesson.name %></a>   
        
            <a class="icon">
                <img src="/edit.png" alt="">
            </a>
          
            <deletelesson-button href="/lessons/<%= lesson.id %>" data-lessonname="<%= lesson.name %>">

            </deletelesson-button>
        </li>
    <%})%>
    </ul>
<%}%>

