<% for (const groupname in lessonStore) { %>
    <% if(groupname === "nogroup") continue %>
    <p><%= groupname %></p>
    <ul>
    <% lessonStore[groupname].forEach(lesson=>{ %>
        <li>
            <a class="lesson" href="/lessons/<%=lesson.id%>" ><%= lesson.name %></a>   
        
            <a class="icon" href="./createlesson/<%= lesson.id %>">
                <img src="/edit.png" alt="">
            </a>
          
            <deletelesson-button href="/lessons/<%= lesson.id %>" data-lessonname="<%= lesson.name %>">

            </deletelesson-button>
        </li>
    <%})%>
    </ul>
<%}%>

